---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content"
import PostList from "../components/PostList.astro";

const posts = await getCollection("posts");
---

<html lang="en">
	<head>
        <BaseHead/>
	</head>
    <body>
        <Header/>
        <main>
            <div>
                <h2>Blog</h2>
                <hr>
                <PostList posts={posts}/>
            </div>
        </main>
        <Footer/>
    </body>
</html>

<style>
    main div{
        margin: 0 auto;
        padding: 4em 11em;
    }

    div {
        margin: 0 auto;
    }

    h2 {
        font-size: 4rem;
    }

    hr {
        border-top: 7px solid #14aaa1;
        margin-bottom: 3em;
        width: 65px;
    }
</style>