---
import PostLayout from "../layouts/PostLayout.astro"
---

<PostLayout>
<h1>
Jak nam pomóc?</h1>
<hr>
<p>
Opieka nad dzikim zwierzęciem wymaga pokrycia kosztów leków, materiałów jednorazowych, badań laboratoryjnych, RTG, zabiegów chirurgicznych, jedzenia, środków czystości. Wspólnymi siłami lekarzy i techników Przychodni Weterynaryjnej Vetika i wolontariuszy Fundacji rocznie przyjmujemy ponad 1000 zwierząt.</br>
Pomóż nam pomagać i wesprzyj ratowanie dzikich zwierząt w wybrany przez siebie sposób!
</p>
<h2>
Wsparcie finansowe
</h2>
<ul>
<li> wpłać darowiznę tytułem „na cele statutowe" na konto Fundacji Akcja dla Dzikich Zwierząt:</br>
15 1140 2004 0000 3802 8378 9982
</li>

<li>zostań naszym Patronem i wspieraj nasze działania regularnymi wpłatami dostosowanymi do Twoich chęci i możliwości (https://patronite.pl/AkcjaDlaDzikichZwierzat)
</li>
<li>wesprzyj nasze zbiórki – obecnie na portalu pomagam.pl zbieramy fundusze na opiekę nad naszymi jeżami (https://pomagam.pl/akcjadlajezy)
</li>
<li>dołącz do grona naszych Sponsorów</li>

<li>przekaż 1,5% podatku dochodowego wpisując w rozliczeniu podatkowym nr KRS: 0000325626 oraz cel szczegółowy "Fundacja Akcja Dla Dzikich Zwierząt"
</li>
</ul>
<h2>Lista potrzebnych rzeczy</h2>
<ul>
<li> mokra karma dobrej jakości (Animonda Carny Adult i Kitten, Dolina Noteci Premium Kitten, dla kota i psa, Royal Canin Starter i Mother&Babycat Mousse)</li>
<li> sucha karma Royal Canin Kitten</li>
<li> owady karmowe: drewnojady, mączniki</li>
<li> karma do odchowu piskląt Versele Laga NutriBird A21 i Handmix</li>
<li> mleko do odchowu osesków Royal Canin BabyDog</li>
<li> preparat wapniowy Calci-lux Versele Laga</li>
<li> witaminy Nekton fly, Nekton biotin, Nekton s</li>
<li> czyściwa papierowe</li>
<li> rękawiczki lateksowe lub nitrylowe rozmiar S i M</li>
<li> transportery Twister dla małych zwierząt</li>
<li> miski ceramiczne dla gryzoni różne rozmiary</li>
<li> gazety z nieśliskiego papieru</li>
<li> słoma dla jeży</li>
</ul>

<p>
Produkty z listy można przywieźć osobiście w godzinach otwarcia Przychodni Weterynaryjnej Vetika lub wysłać paczką na adres:</br>
Fundacja Akcja Dla Dzikich Zwierząt, ul. Lipska 49, 30-721 Kraków.
</p>
<p class="bold">
Bardzo dziękujemy w imieniu dzikich zwierząt. Razem dajemy im drugą szansę na życie w naturze!
</p>
</PostLayout>

<style>

    li {
        font-size: 1.6rem;
        line-height: 1.6;
        margin-block: 0.5em;
        margin-left: 1.6em;
    }

    ul {
        list-style: disc;
        margin-block: 2em;
    }
    h1 {
        font-size: 3.6rem;
        margin-bottom: 0.4em;
        text-align: center;
    }
    hr {
        width: 100%;
        margin: 0 auto 4em;
    }
</style>