<div>
</div>
<div>
    <h2>O Akcji</h2>
    <p>W celu ratowania dzikich zwierząt w przychodni Vetika została powołana Fundacja Akcja dla Dzikich Zwierząt, która prowadzi ośrodek rehabilitacji dzikich zwierząt.</p>
    <ul>
        <li>Leczymy i rehabilitujemy zwierzęta dziko występujące</li>
        <li>Rocznie przyjmujemy ponad 1000 zwierząt</li>
    </ul>
</div>