---
import type { CollectionEntry } from "astro:content"
import Post from "./Post.astro"
type Props = {
    posts: CollectionEntry<"posts">[]
}
const { posts } = Astro.props
---

<section>
    <div class="container">
        <h2>Blog</h2>
        <hr>
        <div class="cards-container">
            {posts.slice(0, 3).map((post) => <Post post={post} />)}
        </div>
        <a class="chevron-link" href="/blog">
            Starsze
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M10 17.75a.74.74 0 0 1-.53-.22a.75.75 0 0 1 0-1.06L13.94 12L9.47 7.53a.75.75 0 0 1 1.06-1.06l5 5a.75.75 0 0 1 0 1.06l-5 5a.74.74 0 0 1-.53.22"/></svg>
        </a>
    </div>
</section>

<style>
    .cards-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    hr {
        border-top: 7px solid #14aaa1;
        margin-bottom: 3em;
        width: 65px;
    }
</style>


<style>
    svg {
    vertical-align: middle;
    }

    a:hover {
        color: var(--cel);
    }

    section { 
        background-color: #fafafa;
        
        
        padding: 5em 9em 4em 9em;
    }

    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2rem;
    }
    .heroImg {
        margin-inline: auto;
    }
    img {
        margin: 0 auto;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3em;
    }

    .description {
        font-size: 1.4rem;
        color: var(--gray);
    }


    .title h2 {
        font-size: 2.2rem;
    }

    .title {
        color: var(--black);
    }

    .title-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
    }

    .more-info {
        margin-left: auto;
        color: var(--celadon);
    }

    .container {
        margin: 0 auto;
        max-width: 1920px;
    }

    .cards-container {
        justify-content: space-between;
        margin-block: 7em 12em;
        gap: 3em;

    }

    .chevron-link {
        font-weight: 500;
        font-size: 1.4rem;
        color: var(--celadon);
        display: block;
        text-align: right;
    }
    
    img {
        max-width: 312px;
        max-height: 232px;
        border-radius: 8px;
        object-fit: cover;
    }

    .post-card:hover {
        transform-origin: top;
        transition-duration: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
    .post-card {
        transition-duration: 0.5s;
    }
    
    @media  (max-width: 900px) {
    section {
        padding-inline: 2%;
    }
}
</style>