---
import type { CollectionEntry } from "astro:content"
import Post from "./Post.astro"
type Props = {
    posts: CollectionEntry<"posts">[]
}
const { posts } = Astro.props
---

<section>
    <h2>Blog</h2>
    <hr>
    <div class="cards-container">
        {posts.map((post) => <Post post={post}/>)}
    </div>
</section>

<style>
    div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    hr {
        border-top: 7px solid #14aaa1;
        margin-bottom: 3em;
        width: 65px;
    }
</style>


<style>
    svg {
    vertical-align: middle;
    }

    a:hover {
        color: var(--cel);
    }

    section { 
        background-color: #fafafa;
        padding: 6em;
    }

    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2rem;
    }
    .heroImg {
        margin-inline: auto;
    }
    img {
        margin: 0 auto;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3em;
    }

    .description {
        font-size: 1.4rem;
        color: var(--gray);
    }


    .title h2 {
        font-size: 2.2rem;
    }

    .title {
        color: var(--black);
    }

    .title-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
    }

    .more-info {
        margin-left: auto;
        color: var(--celadon);
    }

    .cards-container {
        justify-content: center;
        gap: 3em;
    }
    
    img {
        max-width: 312px;
        max-height: 232px;
        border-radius: 8px;
        object-fit: cover;
    }

    .post-card:hover {
        transform-origin: top;
        transition-duration: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
    .post-card {
        transition-duration: 0.5s;
    }
    
    @media  (max-width: 900px) {
    section {
        padding-inline: 2%;
    }
}
</style>