<footer>
    <div>
        <h2>hello</h2>
    </div>
    <div class="info">
        <div>
            <ul>
                <h4>Menu</h4>
                <hr>
                <li><a href="#">O Akcji</a></li>
                <li><a href="#">Wolontariat</a></li>
                <li><a href="#">Znalazłem dzikie zwierzę</a></li>
                <li><a href="#">Jak nam pomóc?</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </div>
        <div>  
            <ul>
                <h4>Adres</h4>
                <hr>
                <li>ul. Lipska 49</li>
                <li>30-721 Kraków</li>
                <li>tel.: +48 5111 195 708</li>
                <li>e-mail: przychodnia@vetika.com.pl</li>
            </ul>
        </div>
        <div>    
            <ul>
                <h4>Godziny otwarcia</h4>
                <hr>
                <li>Poniedziałek-Piątek: 9:00 - 21:00</li>
                <li>Sobota: 9:00 - 16:00</li>
                <li>Niedziela: 10:00 - 15:00</li>
            </ul>
        </div>
    </div>
</footer>

<style>
    footer {
        min-height: 100px;
        padding: 30px 80px;

        display: flex;
        justify-content: space-around;

        color: white;
        background-color: #263435;
    }
    .info {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    a {
        color: white;
    }
    hr {
        border-top: 10px solid rgb(0, 136, 255);
        width: 50px;
    }
</style>