<header>
    <div class="social-links">
        <a href=#>
        <a href=#>
    </div>
    <div>
        <navigation>
        </navigation>
    </div>
</header>

<style>
    .social-links {
        background-color: yellow;
        height: 100px;
    }