<div>
    <h1 class="hero-title">OŚRODEK REHABILITACJI</br>DZIKICH ZWIERZĄT</h1>
    <h1 class="motto">DAJEMY DRUGĄ SZANSĘ</h1>
</div>

<style>
    div {
        background: linear-gradient(90deg, rgba(18,122,116,0.90) 0%, rgba(18,122,116,0.85) 25%, rgba(18,122,116,0.4) 40%, rgba(18,122,116,0) 50%), url("/meta/hero.png");
        background-size: cover;
        padding: 95px 70px;
        background-repeat: no-repeat;
        /* min-height: 95px; */
        color: white;
    }

    .hero-title {
        font-size: calc(2vw + 1rem);
    }
</style>