---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---

<BaseHead />
<Header />
<h1>{pageTitle}</h1>
<slot />
<Footer />