---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/slotwrapper.css"

const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
        <BaseHead />
    </head>
    <body>
        <Header />
        <main>
            <section class = "post">
                <div class = "title">
                    <h1>{frontmatter.title}</h1>
                    <hr>
                </div>
                <div class="slot-wrapper">
                    <slot />
                </div>
            </section>

            <section class="contact-form">
                <h2>Formularz kontaktowy</h2>
                <form
                    data-netlify="true"
                    netlify-honeypot
                    name="feedback"
                    method="POST"
                >
                    <p class="hidden">
                    <label>
                        Don’t fill this out if you’re human: <input name="bot-field" />
                    </label>
                    </p>
                    <input type="hidden" name="form-name" value="feedback" />
                    <label for="name">Name</label>
                    <input id="name" type="text" name="name" />
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" required />
                    <label for="feedback">What is your feedback?</label>
                    <textarea id="feedback" wrap="soft" name="feedback" required></textarea>
                    <button type="submit">Submit</button>
                </form>
            </section>
        </main>
        <Footer />
    </body>

<style>
    .contact-form {
        max-width: 720px;
        margin: 0 auto;
        background-color: #fafafa;
        padding: 5em 5em;
        border-radius: 16px;
    }

    label {
        text-align: left;
        display: block;
    }

    button {
        display: block;
        margin-inline: auto;
    }

    input, textarea {
        width: 100%;
        border: 1px solid var(--gray);
        border-radius: 2px;
    }

    input {
        height: 30px;
    }

    textarea {
        height: 200px;
    }

    h2 {
        font-size: 3.2rem;
        margin-bottom:2em;
        text-align: center;
    }

    section:first-of-type {
        margin-bottom: 7em;
    }
</style>
